<%= simple_form_for(transaction, :html => { :class => "form-horizontal"}) do |f| %>
    <legend><%= controller.action_name.capitalize %> Transaction</legend>

    <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
    <%= f.input :text, :label => 'Description' %>
    <%= f.input :amount, as: :float, :input_html => { value: transaction.cents_to_money } %>

    <%= f.association :transaction_type, collection: transaction_types %>
    <%= f.association :account, collection: accounts %>

  <div class="form-actions">
    <%= f.submit :class=>"btn btn-primary" %>
    <%= link_to "Cancel", root_path, :class=>"btn" %>
  </div>
<% end %>