<tr id="<%= dom_id(transaction) %>" class="<%= transaction.transaction_type_name %>" >
  <td><%= best_in_place transaction, :date, :type => :date %></td>
  <td><%= best_in_place transaction, :text, :type => :input %></td>

  <% if transaction.is_transfer? %>
    <td>
      <div>
        <div><%= transaction.transaction_type_name %></div>
        <div class="direction"> 
          from:
          <div class="divider"></div>
          to:
        </div>
      </div>
    </td>
    <td>
      <div><div>
        <%= transaction.amount %>
        <div class="divider"></div>
        <%= transaction.trans_amount %>
      </div></div>
    </td>
    <td>
      <div><div>
        <%= transaction.account_name %>
        <div class="divider"></div>
        <%= transaction.trans_account_name %>
      </div></div>
    </td>
  <% else %>
    <td><%= transaction.transaction_type_name %></td>
    <td><%= best_in_place transaction, :amount, :type => :input %></td>
    <td>
      <%= best_in_place transaction, :account_id, :type => :select, :collection => accounts_list %>
    </td>
  <% end %>
  <td><%= transaction.category_name %></td>

  <td>
    <ul class="nav nav-pills">
      <li><%= link_to [:edit, transaction], remote: true, class: "transaction-edit" do %><%= glyph(:pencil) %><% end %></li>
      <li><%= link_to transaction, confirm: 'Are you sure?', method: :delete, :remote => true, class: "transaction-delete", "data-type" => :json do %><i class="icon-trash"></i><% end %></li>
    </ul>
  </td>
</tr>