<tr id="<%= dom_id(transaction) %>" class="<%= transaction.transaction_type_name %>" >
  <td><%= best_in_place transaction, :date, :type => :date %></td>
  <td><%= best_in_place transaction, :text, :type => :input %></td>

  <% if transaction.type_transfer? %>
    <td>
      <div>
        <div><%= transaction.transaction_type_name %></div>
        <div class="direction"> 
          from:
          <div class="divider"></div>
          to:
        </div>
      </div>
    </td>
    <td>
      <div><div>
        <%= best_in_place transaction, :amount, :type => :input %>
        <div class="divider"></div>
        <%= best_in_place transaction, :trans_amount, :type => :input %>
      </div></div>
    </td>
    <td>
      <div><div>
        <%= best_in_place transaction, :account_id, :type => :select, :collection => accounts_list %>
        <div class="divider"></div>
        <%= best_in_place transaction, :trans_account_id, :type => :select, :collection => accounts_list %>
      </div></div>
    </td>
    <td></td>
  <% else %>
    <td><%= transaction.transaction_type_name %></td>
    <td><%= best_in_place transaction, :amount, :type => :input %></td>
    <td><%= best_in_place transaction, :account_id, :type => :select, :collection => accounts_list %></td>
    <td><%= best_in_place transaction, :category_id, :type => :select, :collection => categories[transaction.transaction_type_name].map { |i| [i.id, "#{'-' * i.depth} #{i.name}"] }  %> </td>
  <% end %>
  

  <td>
    <ul class="nav nav-pills">
      <li><%= link_to [:edit, transaction], remote: true, class: "transaction-edit" do %><%= glyph(:pencil) %><% end %></li>
      <li><%= link_to transaction, confirm: 'Are you sure?', method: :delete, :remote => true, class: "transaction-delete", "data-type" => :json do %><i class="icon-trash"></i><% end %></li>
    </ul>
  </td>
</tr>