<div class="span8" id="main">
  <h2>Transaction's list</h2>

  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      New
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Outlay", new_transaction_path(:type => "outlay"), remote: true, class: "transaction-new" %></li>
      <li><%= link_to "Income", new_transaction_path(:type => "income"), remote: true, class: "transaction-new" %></li>
      <li><%= link_to "Transfer", new_transaction_path(:type => "transfer"), remote: true, class: "transaction-new" %></li>
    </ul>
  </div>


  <div id="transactions">
  	<%= render 'transaction_list', accounts: @accounts %>
  </div>

</div>

<div class="span2" id="widgets">
  <div id="balance_widget">
    <%= render "accounts/balance_widget", accounts: @accounts %>
  </div>
</div>