<ul class="nav nav-list bs-docs-sidenav">
  <li class="<%= current_page?(transactions_path) ? "active" : "" %>" ><%= link_to "Transactions", transactions_path %></li>
  <li class="<%= current_page?(accounts_path) ? "active" : "" %>" ><%= link_to "Accounts", accounts_path %></li>
  <li class="<%= current_page?(categories_path) ? "active" : "" %>" ><%= link_to "Categories", categories_path %></li>
  <li class="<%= current_page?(analytics_path) ? "active" : "" %>" ><%= link_to "Analytics", analytics_path %></li>
  <li class="<%= current_page?(month_analytics_path) ? "active" : "" %>" ><%= link_to "Analytics (month)", month_analytics_path %></li>
</ul>