<!DOCTYPE html>
<html>
<head>
  <title>Finance</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body  data-spy="scroll" data-target=".bs-docs-sidebar">
  <%= render 'layouts/header', current_user: current_user %>
  <div class="container-fluid">

    <div class="row-fluid">
      <div class="span2 bs-docs-sidebar" id="menu">
        <%=  render 'layouts/func_menu' if signed_in? %>
      </div>
      <div class="span8" id="main">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
    </div>

  </div>

    <%= debug(params) if Rails.env.development? %>
    <div class="row" id="modal"></div>
    <div class="row" id="alert-area"></div>
    
</body>
</html>