<!DOCTYPE html>
<html>
<head>
  <title>Finance</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header', current_user: current_user %>
  <div class="container">

    <div class="row">
      <div id="main">
        <%= yield %>
      </div>
    </div>

    <%= debug(params) if Rails.env.development? %>

    <div class="row" id="modal"></div>
    <div class="row" id="alert-area"></div>
  </div>

</body>
</html>