<!DOCTYPE html>
<html>
<head>
  <title>Finance</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header', current_user: current_user %>
  <div class="container">

    <div class="row">
      <div class="row" id="alert-area"></div>
      <span class='flash-error'></span>
      <div id="alert-area">
        <% if flash[:notice] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
        <% end %>
        <% if flash[:alert] %>
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %>
          </div>
        <% end %>
      </div>

      <div id="main">
        <%= yield %>
      </div>
    </div>

    <%= debug(params) if Rails.env.development? %>

    <div class="row" id="modal"></div>
  </div>

</body>
</html>