<h2>Accounts list</h2>

<%= link_to glyph(:plus, :white)+' New', new_account_path, :class => 'btn btn-primary btn-new' %>

<table class="accounts-list table table-striped table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Currency</th>
      <th></th>
    </tr>
    </thead>
  <tbody>
  <% if @accounts.empty? %>
    <tr><td colspan="4">
      <i>There is no accounts, please create ...</i>
    </td></tr>
  <% end %>
  <% @accounts.each do |account| %>
    <tr>
      <td class="name"><%= account.name %></td>
      <td class="desc"><%= account.description %></td>
      <td class="currency"><%= account.currency %></td>
      <td class="control">
        <ul class="nav nav-pills">
          <li><%= link_to [:edit, account] do %><i class="icon-pencil"></i><% end %></li>
          <li><%= link_to account, confirm: 'Are you sure?', method: :delete do %><i class="icon-trash"></i><% end %></li>
        </ul>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>